* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background: linear-gradient(#141e30, #243b55);
}

/* ------------------Styling all flights table---------------- */
table {
    border-collapse: collapse;
    width: 100%;
    color: rgb(188, 186, 186);
}

.table-inside {
    display: flex;
    justify-content: center;
}

th {
    border: 1px solid #000000;
    padding: 10px;
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
}

td {
    border: 1px solid #000000;
    padding: 5px;
    text-align: center;
    font-size: 18px;
}


/* --------------------------Navbar------------------------ */
#navbar {
    background-color: #141e30;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    height: 60px;
    line-height: 60px;
    width: 100vw;
    z-index: 10;
}

.nav-wrapper {
    margin: auto;
    text-align: center;
    width: 70%;
}

.logo {
    float: left;
    margin-left: 28px;
    font-size: 1.5em;
    height: 60px;
    letter-spacing: 1px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

#navbar ul {
    float: right;
    list-style: none;
    margin-top: -2px;
    text-align: right;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
}

#navbar li {
    display: inline-block;
}

#navbar li a {
    color: rgb(255, 255, 255);
    display: block;
    font-size: 1em;
    height: 50px;
    letter-spacing: 2px;
    margin: 0 20px;
    padding: 0 4px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
    color: rgb(208, 208, 208);
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
}

/* ----------------Animated Bottom Line------------------- */
#navbar li a:before,
#navbar li a:after {
    content: '';
    position: absolute;
    width: 0%;
    height: 1px;
    bottom: -1px;
    background: rgb(255, 255, 255);
}

#navbar li a:before {
    left: 0;
    transition: 0.5s;
}

#navbar li a:after {
    background: rgb(196, 196, 196);
    right: 0;
}

#navbar li a:hover:before {
    background: rgb(222, 222, 222);
    width: 100%;
    transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
    background: transparent;
    width: 100%;
}

p {

    text-align: center;
    margin: 100px 0px 30px;
    font-size: 25px;
    color: rgb(188, 186, 186);
}


a {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;
}


/* -------------Search Bar and button design-------------- */

.input-1 {
    position: absolute;
    top: 28%;
    left: 17%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    background: transparent;
    width: 150px;
    height: 25px;
    padding: 10px;
    border: solid 3px #9A86FD;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;
    letter-spacing: 1px;
}

.input-2 {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    background: transparent;
    width: 150px;
    height: 25px;
    padding: 10px;
    border: solid 3px #9A86FD;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;
    letter-spacing: 1px;
}

.input-3 {
    position: absolute;
    top: 28%;
    left: 82%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    background: transparent;
    width: 150px;
    height: 25px;
    padding: 10px;
    border: solid 3px #9A86FD;
    outline: none;
    border-radius: 35px;
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;
    letter-spacing: 1px;
}

.button_data {
    position: absolute;
    top: 39%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    background: transparent;
    padding: 13px;
    border: none;
    outline: none;
    border-radius: 35px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #9A86FD;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    transition: all 0.5s;
}


input::placeholder {
    color: #efefef;
    opacity: 0.25;
    transition: opacity 150ms ease-out;
}

input:focus::placeholder {
    opacity: 0.50;
}

input:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FFB870;
}

.button_data:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FFB870;
}

.button_data:focus {
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FFB870;
}

input:focus,
input:not(:placeholder-shown) {
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 #FFB870;
}


@media screen and (max-width: 800px) {

    .input-1 {
        left: 50%;
        top: 25%;
    }

    .input-2 {
        left: 50%;
        top: 35%;
    }

    .input-3 {
        left: 50%;
        top: 45%;
    }

    .button_data {
        top: 55%;
    }
}